<section class="login">
  <div class="container">
    <form class="hidden" method="POST" #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
      <div class="form-group">
        <label class="form-label" for="email">User ID</label>
        <input class="input-form" type="text" name="email" id="email" ngModel maxlength="30">
      </div>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="input-form" type="password" name="password" id="password" ngModel maxlength="20">
      </div>
      <div class="text-centered">
        <button class="login-btn" [disabled]="!formLogin.valid || !canAction" type="submit">
          <i class="i-hand-pointer-o block"></i>
          Click to login
        </button>
        <a class="forgot-link hidden" [routerLink]="['/forgot']">
          <p>Forgot your User ID/Password?</p>
        </a>
      </div>
    </form>
    <div class="text-centered" [loading]="!canAction">
      <ng-template [ngIf]="canAction">
        <section>
          <img class="logo" src="assets/logo/logo-2x.png" alt="FUA PWA">
          <h1 class="title">Welcome to FUA PWA</h1>
        </section>
        <section>
          <button class="login-btn" (click)="googleSignin()">
            <i class="i-google"></i>
            Sign up with Google
          </button>
          <button class="login-btn" disabled>
            <i class="i-facebook-f"></i>
            Sign up with Facebook
          </button>
        </section>
      </ng-template>
    </div>
  </div>
</section>