service cloud.firestore {
  match /databases/{database}/documents {
     // Check if userId exists in the document 
     function userExistsInDocument() {
     		return request.auth.uid != null;
     }
     match /{document=**} {
	       allow read, write: if userExistsInDocument();
	   }
  }
}